$primary: Crimson;
$body-bg: #15181f;
$input-bg: White;
$input-color: Crimson;

@import '~bootstrap/scss/bootstrap.scss';

.card-img-top {
  height: 22rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nomargin-rf {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.padding-sm {
  padding: 1.5rem !important;
}